@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="container">
    <h2>Registro nuevo:</h2>
    <p>Introduzca sus datos en los campos siguientes:</p><br />
    <form action="@Url.Action("Form3","Client")" method="post">
        <div class="form-group">
            <label for="girocompany">GIro del negocio: </label>
            <select class="form-control" id="girocompany" required>
                <option>Farmacia</option>
                <option>Laboratorio</option>
                <option>Tienda de conveniencia</option>
                <option>Otros</option>
            </select>
            <br />

            <label for="nameowner">Nombre del propietario:</label>
            <input type="text" class="form-control" id="nameowner" placeholder="Nombre completo" required />
            <br />
            <div id="phones" name="phones" class="container" style="padding:0; margin:0">
                <label for="tel1">Numero telefono/celular:</label>
                <input type="text" class="form-control" id="Tel1" placeholder="Numero telefonico" />
            </div>
            <input type="button" class="btn btn-success text-center" value="Agregar Telefono" onclick="addfieldnumber()" />
            <br />
            <br />
            <label for="mailtxt">Correo electronico:</label>
            <input type="text" class="form-control" id="mailtxt" placeholder="Correoelectronico@mail.com" />
        </div>
        <input id="sendf1" name="sendf1" type="submit" class="btn btn-success"/>
    </form>
</div>