body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.carousel {
    background-color: #006092;
    margin: 0;
    padding: 92px;
}

.carousel-inner{
    margin: 0;
    height: auto;
    width: 100%;
}
.carousel-inner > .item > img {
    height: auto;
    width: 100%;
}

.Neg{
    background-color: #006092;
}

.sidenav {
    height: 500px;
    width: 170px;
    margin:0;
    position: static;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: transparent;
}

.sidenavL {
    height: 500px;
    width: 170px;
    position: static;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
}

footer{
    background-color: white;
    color: #006092;
    min-height:100px;
}

.logos{
    width: 100px;
    height: 50px;
}

.img-center{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}

.texthead{
    background-color: #006092;
    color: white;
}

.textli{
    font-size: 22px;
    color: white;
}

.rowcontact {
    width: 100%;
    background-color: #006092; 
    color: white;
}

.btn-b1{
    background-color: lightgreen;
    color:azure;
    text-align: center;
    font-size: 16px;
}

.bg-jbtrans{
    background-color: transparent;
}

.formcontainer{
    padding-left: 150px;
}