@{
    ViewBag.Title = "Medicinas Rosario";
    ViewBag.Message = "Acerca de Nosotros";
}

<hr />
<h2 class="text-center text-info">@ViewBag.Title</h2>
<h3 class="text-center">@ViewBag.Message</h3>
<hr />
<div class="row">
    <div class="col-sm-6 col-lg-8">
        <h3 class="text-center texthead">Mision</h3>
        <p class="text-center">Acercar un amplio surtido de medicamentos e insumos que contribuyan a la salud y bienestar de la población, comprometidos con la mejora continua del servicio a precios competitivos.</p>
    </div>
    <div class="hidden-xs col-sm-6 col-lg-4">
        <img class="img-center" src="~/Images/mision.jpg" />
    </div>
</div>
<hr/>
<div class="row">
    <div class=" hidden-xs col-sm-6 col-lg-4" style="padding-top:50px">
        <img class="img-responsive img-center" src="~/Images/vision.jpg" />
    </div>
    <div class="col-sm-6 col-lg-8">
        <h3 class="text-center texthead">Vision</h3>
        <div class="row">
            <div class="col-xs-2"><img src="~/Images/presencia.jpg" /></div>
            <div class="col-xs-10"><p>Tener presencia en toda la Republica Mexicana.</p></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-2"><img src="~/Images/favorito.jpg" /></div>
            <div class="col-xs-10"><p>Ser el favorito de nuestros clientes y proveedores.</p></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-2"><img src="~/Images/trabajar.jpg" /></div>
            <div class="col-xs-10"><p>Ser un lugar ideal para trabajar, generando orgullo de pertenencia.</p></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-2"><img src="~/Images/innovar.jpg" /></div>
            <div class="col-xs-10"><p>Innovar mirando hacia el futuro.</p></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-2"><img src="~/Images/comunidad.jpg" /></div>
            <div class="col-xs-10"><p>Ser una empresa comprometida con la comunidad.</p></div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6 col-lg-8">
        <h3 class="text-center texthead">Nuestros Valores</h3>
        <div class="row">
            <div class="col-xs-10"><p>No sólo cumplimos con nuestras obligaciones, sino que también tratamos de ir mas allá en lo que realmente creemos.</p></div>
            <div class="col-xs-2"><img src="~/Images/compromiso.jpg" /></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-10"><p>	Nos entregamos en todo lo que hacemos de manera efectiva.</p></div>
            <div class="col-xs-2"><img src="~/Images/pasion.jpg" /></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-10"><p>Trabajamos hacia un mismo objetivo ya que intercambiamos nuestras ideas y opiniones de manera efectiva.</p></div>
            <div class="col-xs-2"><img src="~/Images/comunicacion.jpg" /></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-10"><p>Valoramos, apreciamos y reconocemos las cualidades, ideas y pensamientos de los demás.</p></div>
            <div class="col-xs-2"><img src="~/Images/respeto.jpg" /></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-10"><p>Actuamos con rectitud de acuerdo con nuestros valores.</p></div>
            <div class="col-xs-2"><img src="~/Images/honestidad.jpg" /></div>
        </div>
        <hr />
    </div>
    <div class="hidden-xs col-sm-6 col-lg-4" style="padding-top: 70px">
        <img class="img-center img-responsive" src="~/Images/valores.jpg"/>
    </div>
</div>
<hr />
<div class="row">
    <div class="hidden-xs col-sm-6 col-lg-4">
        <img class="img-responsive img-center" src="~/Images/mercado.jpg"/>
    </div>
    <div class="col-sm-6 col-lg-8">
        <h3 class="text-center texthead">Nuestro Mercado</h3>
        <p class="text-center">La fuerza de ventas con la que contamos está formada por vendedores especializados y capacitados que visitan a cada uno de los distribuidores,
                empresas, centros de salud, hospitales e instituciones que deseen ser parte de nuestra familia de clientes.</p>
        <p class="text-center">También contamos con atención personalizada en nuestras oficinas y atención telefónica desde cualquier parte de la república.</p>
        <p class="text-center">Uno de nuestros grandes logros es poder transcender más allá de las fronteras estatales, distribuyendo nuestro producto por la zona occidental de nuestro país,
                llegando a estados como Michoacán, Zacatecas, Nayarit, Aguascalientes, San Luis Potosí, Colima y Guanajuato.</p>
        <hr />
    </div>
</div>