@{
    ViewBag.Title = "Contactanos";
}

<hr />
<div class="row rowcontact">
    <div class="col-xs-12">
        <h2 class="text-center">Matriz Zapopan</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6 clearfix" style="width: auto">
        <img class="center-block" src="~/Images/contacto.jpg" style="height: 350px; width: 550px " />
    </div>
    <div class="col-md-12 col-lg-6 clearfix" style="width:auto">
        <iframe class="center-block" width="550" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ0wKAdpGvKIQRXDljdnywCj4&key=AIzaSyByM46Uwj3UlgThMF1bgPZbNWal9Z5hO9E"
                allowfullscreen></iframe>
    </div>
</div>
<div class="row rowcontact">
    <div class="col-xs-12 col-lg-4">
        <address class="text-center">
            Av. Industria Metalúrgica 66
            Fracc. Industrial Zapopan Norte
            Zapopan, Jal.
            C.P. 45130
        </address>
    </div>
    <div class="col-xs-12 col-lg-4">
        <p class="text-center">
            Tel. (33) 3833-8406 <br />
            Email: ventas@medicinasrosario.com.mx
        </p>
    </div>
    <div class="col-xs-12 col-lg-4 ">
        <p class="text-center">
            Horario de Atención: <br />
            <strong>de Lunes a Viernes</strong>
            de 9:00 am a 6:00pm <br />
            <strong>Sábados</strong>
            de 9:30 am a 2:00 pm
        </p>
    </div>
</div>
<hr />

<div class="row rowcontact">
    <div class="col-xs-12">
        <h2 class="text-center">Sucursal Querétaro</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6" style="width: auto">
        <img class="img-responsive center-block" src="~/Images/contacto.jpg" style="height: 350px; width: 550px "/>
    </div>
    <div class="col-md-12 col-lg-6" style="width: auto">
        <iframe class="center-block" width="550" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJO1V77L5a04URc6ONVTLvduc&key=AIzaSyByM46Uwj3UlgThMF1bgPZbNWal9Z5hO9E"
                allowfullscreen></iframe>
    </div>
</div>
<div class="row rowcontact">
    <div class="col-xs-12 col-lg-4">
        <address class="text-center">
            Gasoducto 100 Bodega 4
            Col. Felipe Carrillo Puerto
            Santiago de Querétaro, Qro.
            C.P. 76138
        </address>
    </div>
    <div class="col-xs-12 col-lg-4">
        <p class="text-center">
            Tels. (442) 222-9409  /  222-8453
            222-8162  / 262-0273
        </p>
    </div>
    <div class="col-xs-12 col-lg-4">
        <p class="text-center">
            Horario de Atención<br />
            <strong>de Lunes a Viernes</strong>
            de 9:00 am a 5:00pm<br />                               
            <strong>Sábados</strong>
            de 9:00 am a 1:00 pm
        </p>
    </div>
</div>